[Unit]
Description=MFRC522 Hardware Interface Daemon
After=network.target

[Service]
ExecStart=/usr/bin/rfid_daemon


Restart=always
RestartSec=3
User=root
PrivateTmp=no
[Install]
WantedBy=multi-user.target
