[Unit]
Description=MFRC522 Hardware Interface Daemon
After=network.target

[Service]
WorkingDirectory=/home/hana/RFID_Module
ExecStart=/home/hana/RFID_Module/rfid_daemon
Environment=LD_LIBRARY_PATH=/home/hana/RFID_Module

Restart=always
RestartSec=3
User=root
PrivateTmp=no
[Install]
WantedBy=multi-user.target
